/* columns of same height styles */
.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

        .browse li, .contact2 li {
            display: table-cell;
            vertical-align: middle;
            padding-left: 20px;
            padding-top: 10px;
            font-size: 14.5px;
        }

        .browse a {
            color: white;
        }
        .browse a:hover {
            text-decoration: none;
            color: rgb(0, 255, 0);
        }

        .contact2 a {
            color: black;
        }
        .contact2 a:hover {
            text-decoration: none;
            color: rgb(0, 255, 0);
        }

        p, h2, h3, div {
            font-family: 'Source Sans Pro', sans-serif!important;
        }
        p {
            font-size: 22px;
        }
        .title {
            color: white;
            text-align: center;
            line-height: 70px;
        }
        #cs {
            font-size:65px;
            padding-bottom: 55px;
        }

        #pot {
            font-size:110px;
        }
        #dict {
            font-size: 40px;
        }
        #rotator {
            margin: 15px 0 15px 0;
            height: 430px;
        }
        #tag {
            text-align: center;
            font-size: 25px;
        }

        #bg {
            min-width: 100%;
            background: url("../images/IMG_5026.jpg");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            padding: 5px 0 50px 0;
        } 

        #story {
            min-width: 100%;
            background: url("../images/stripe_background2.png");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            padding: 10px 0 5px 0;
            text-align: center;
        } 

        ol {
            font-size: 25px;
        }
        h2 {
            margin-top: 5px;
        }
        #pic_story {
            padding: 0 0 35px 0;
        }
        .smaller_text {
            font-size: 20px;
        }
        #shop {
            min-width: 100%;
            height: 100%;
            background: url("../images/stripe_background4.png");
            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            padding: 0 0 5px 0;
        }
        div.ecwid-productBrowser-auth {  
            display: none; 
        }
        #event {
            min-width: 100%;
        }
        #offer {
            min-width: 100%;
        }
        hr {
            margin-top:15px;
            margin-bottom: 10px;
            width: 40%;
            border-top: 1px solid #333333;
        }

        .form-inline {
            text-align: center;
            margin-top: 15px;
        }
        .form-control {
            width: 90%;
        }
